td {
    width: 35px;
    height: 35px;
    background-color: #2d6d8b;

}

#ourTable, #opponentTable, td {
    border: 1px solid #323433;
    border-collapse: collapse;
}

.active .opponentTd {
    cursor: pointer;
}

#ourTable {
    float: left;
}

#opponentTable {
    float: right;
}

#content {
    margin: 0 auto;
    width: 800px;
    height: 400px;
}

#alert {
    visibility: hidden;
    display: inline-block;
    margin: 0 auto;
    /*    width: 100px;*/
    height: 50px;
    /*background-color: aquamarine;*/
}

#response {
    display: inline-block;
    /*  width: 100px;*/
    height: 50px;
    /*background-color: #2d6d8b;*/
    /* float: right;*/
    position: absolute;
    right: 0;
}

.messages {
    width: 800px;
    height: 70px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.destroyed {
    background-color: #323433;
    cursor: default;
}

.burning {
    background-color: red;
    cursor: default;
}

.miss {
    background-color: aqua;
    cursor: default;
}

.ship {
    background-color: darkgreen;
}